
html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-family:arial, sans-serif;
}

/*.myheader{
	background-image:url('img/8.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	padding-bottom: 1rem;
}*/

#titre{
	text-align:center;
	font-size:30px;
}

.photo, img{
	width:70%;
	height:30%;
	/* border-radius:200px; */
	text-align:center;
	margin-top:10%;
}

/* debut refonte*/
.myheader .container .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.myheader div#moi .row div.download-cv {
	display: none;
}

.myheader .container .row .monimage .img-circle{
	width:350px; 
	height:350px;
}

.myheader .container .row div.desc div.description {
	width: 300px;
	text-align: justify;
	color: #eee;
	font-family: arial;
	font-size: 18px;
}

.myheader div#moi .row .btn-dowload div.well a.btn-responsive span.glyphicon,
.myheader div#moi .row .btn-dowload div.well a.btn-responsive span#cv {
	color: #f16059;
	font-size: 17px;
}

.myheader div#moi .a-propos {
	display: flex;
	flex-direction: column;
}

.myheader div#moi .a-propos #salut {
	font-size:35px;
	font-family:arial;
	text-align: center;
	color: #eee;
}

.myheader div#moi .a-propos .post {
	text-align: center;
	color: #eee;
	font-family: arial, sans-serif;
	font-size:18px;
}

/*section de mes compétences*/
.gris{
	border:10px solid slategray;
	width:70%;
	display:inline-block;
}
.blanc{
	border:10px solid white;
	width:30%;
	display:inline-block;
}
.gris1{
	border:10px solid slategray;
	width:70%;
	display:inline-block;
}
.blanc1{
	border:10px solid white;
	width:30%;
	display:inline-block;
}
.tr1{
	text-align:center;
	padding-left:20px;
}
.gris2{
	border:10px solid slategray;
	width:50%;
	display:inline-block;
}
.blanc2{
	border:10px solid white;
	width:50%;
	display:inline-block;
}
.gris3{
	border:10px solid slategray;
	width:40%;
	display:inline-block;
}
.blanc3{
	border:10px solid white;
	width:60%;
	display:inline-block;
}
.gris4{
	width:70%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc4{
	width:30%;
	border:10px solid white;
	display:inline-block;
}
.gris5{
	width:60%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc5{
	width:40%;
	border:10px solid white;
	display: inline-block;
}
.gris6{
	width:40%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc6{
	width:60%;
	border:10px solid white;
	display:inline-block;
}
.gris7{
	width:30%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc7{
	width:70%;
	border:10px solid white;
	display:inline-block;
}
.gris8{
	width:60%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc8{
	width:40%;
	border:10px solid white;
	display:inline-block;
}
.gris9{
	width:40%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc9{
	width:60%;
	border:10px solid white;
	display:inline-block;
}

.mesCompetences .container .row {
	margin-top: 10rem;
}

.mesCompetences .container .row .col-sm-12 h1 {
	text-align: center;
	margin-bottom: 4rem;
	color: #eee;
	text-transform: uppercase;
}

#ans{
	color: #eee;
	font-size: 20px;
	font-family: arial;
}

.mesFormations {
	margin-top: -5rem;
}

.mesFormations .container h1{
	color: #eee;
	text-align: center;
	margin-bottom: 4rem;
	text-transform: uppercase;
}

.mesFormations .container .text-capitalize{
	font-family:arial; 
	font-size:20px;
	color: #eee;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*.mesFormations .container div.text-capitalize h3 {
	border-bottom: 1px solid #ffffff;
}
*/
.mesFormations .container .table {
	font-family:arial; 
	font-size:15px;
}

section#forms div.container .table tr:nth-child(2),
section#forms div.container .table tr:nth-child(4){
	background-color:#eee;
}

section#forms div.container .table tr th{
	font-family: arial, sans-serif;
	font-size: 25px;
}

section#forms div.container .table tr td{
	font-family: arial, sans-serif;
	font-size: 17px;
}

/* Mon portfolio */
section.portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-top: 4rem;
	margin-bottom: 4rem;
}

section.portfolio header.header-portfolio h2 {
	text-align: center;
	margin-bottom: 4rem;
	color: #eee;
	text-transform: uppercase;
}

section.portfolio div.content-portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

section.portfolio div.content-portfolio div.card-un,
section.portfolio div.content-portfolio div.card-deux,
section.portfolio div.content-portfolio div.card-trois,
section.portfolio div.content-portfolio div.card-quatre {
	padding: .2rem;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	background: #eee;
	border-radius: 10px;
	box-shadow: 0px 6px 8px #000;
}


section.portfolio div.content-portfolio div.card-quatre img {
	width: 700px;
	height: 100%;
	margin: auto;
	border-radius: 10px;
}

section.portfolio div.content-portfolio div.card-un img,
section.portfolio div.content-portfolio div.card-deux img,
section.portfolio div.content-portfolio div.card-trois img {
	width: 380px;
	height: 450px;
	box-shadow: 0px 0px 8px #000;
}


/*Mes contacts*/
.page-section {
  padding: 6rem 0;
}
.page-section h2.titleContact {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.sectionSubHeading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", sans-serif;
  margin-bottom: 4rem;
}

section#contact {
  background-color: #212529;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
section#contact .titleContact {
  color: #eee;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 17rem;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.text {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ced4da;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

button.btn-primary{
	font-family: "Montserrat", sans-serif;
	background: #f16059;
	outline: none;
	cursor: pointer;
	color: #eee;
	padding: 1rem;
}

button.btn-primary:hover{
	background: #eee;
}

.myfooter{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	background: #212520;
	text-align: center;
}

.myfooter .left,
.myfooter .right {
	color: #f16059;
}

.myfooter .medium a {
	text-decoration: none;
	color: #f16059;
	padding: 1rem;
}

.myfooter .medium a:hover {
	color: #eee;
}

/* mes certifications */

body.certification {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f16059;
}

div.content-certif {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.content-certif div.card-certif-html-css {
	width: 80%;
	margin: auto;
}


@media screen and (max-width : 680px) {

	.navbar-inverse{
		position: relative;
		top: 0;
	}

	div#moi div.row {
		display: flex;
		flex-direction: column-reverse;
	}

	.myheader .container .row {
		margin-top: 5rem;
	}

	.myheader .container .row .monimage .img-circle {
		width: 150px;
		height: 150px;
		margin: auto;
	}

	.myheader .container .row .col-sm-6 div.photo {
		padding-left: 0;
	}

	.myheader .container .row .btn-dowload {
		margin-top: -1rem;
	}

	.myheader .container .row div.desc div.description {
		display: none;
	}


	.myheader div#moi .row .col-sm-3 div.well a.btn-responsive {
		padding: .5rem;
	}


	.myheader div#moi div.a-propos {
		display: flex;
		flex-direction: column;
		margin-top: -1rem;
	}

	.myheader div#moi .a-propos #salut {
		font-size: 20px;
		text-align: center;
	}

	.myheader div#moi div.a-propos .post {
		margin-top: 1rem;
		font-size: 18px;
	}

	/*Mes compétences*/
	.mesCompetences .container .row {
		margin-top: 2rem;
	}

	div#formations {
		margin-top: -10rem;
	}

	section#forms div.container .table {
		overflow-x: scroll;
	}

	/*formation*/
	section#forms div.container .table tr th {
		font-size: 15px;
	}

	section#forms div.container .table tr td {
		font-size: 12px;
	}

	section.portfolio div.content-portfolio {
		display: flex;
		flex-direction: column;
	}

	section.portfolio div.content-portfolio div.card-un,
	section.portfolio div.content-portfolio div.card-deux,
	section.portfolio div.content-portfolio div.card-trois,
	section.portfolio div.content-portfolio div.card-quatre {
		width: 280px;
		margin: auto;
		margin-bottom: 2rem;
		padding-bottom: 1rem;
	}

	section.portfolio div.content-portfolio div.card-un img,
	section.portfolio div.content-portfolio div.card-deux img,
	section.portfolio div.content-portfolio div.card-trois img,
	section.portfolio div.content-portfolio div.card-quatre img {
		width: 250px;
		height: 100%;
		box-shadow: 0px 0px 8px #000;
	}

	.myfooter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
	}

	div.content-certif div.card-certif-html-css  {
		width: 260px;
		height: 100%;
		margin: auto;
	}
}
